body{
	margin: 0;
	padding: 0;
	width: 100%;
}
.field{
	width: 600px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}
.button{
	height: 40px;
	border-style: solid;
	border-radius: 5px;
	border-width: 3px;
}
.mouse{
	background-color: #FFA296;
	border-color: #A62615;
}
.mouse:hover{
	background-color: #FF8070;
}
.mouse:active{
	background-color: #FF5640;
}
.branch{
	background-color: #FFD5B2;
	border-color: #A66025;
}
.branch:hover{
	background-color: #FFC696;
}
.branch:active{
	background-color: #FFB273;
}
.ears{
	background-color: #B9F0C3;
	border-color: #2B923D;
}
.ears:hover{
	background-color: #A6F0B3;
}
.ears:active{
	background-color: #84E194;
}
.freeze{
	background-color: #B5EAD6;
	border-color: #298B66;
}
.freeze:hover{
	background-color: #A2EACF;
}
.freeze:active{
	background-color: #7DD6B4;
}